# Obsidian 相关文件
/.obsidian/
/.vscode/
/.agents/
/.blogs/
.obsidian.vimrc

~$*.ppt*
*.ppt.bak
*.pptx.bak

*.drawio.bak
*.drawio~
*.drawio.dtmp

# Typst 生成文件
*.pdf
/.typst/

# 系统文件
.DS_Store
MACDOX_*
Thumbs.db
desktop.ini
