/.obsidian/**
/.trash/**
/.stash/**
build/
.obsidian.vimrc
NSFW/

# 大文件
/Language/Haskell/Haskell LLVM JIT Compiler/**
/src/sgi/

# PPT 和 DrawIO 可能产生的临时文件
~$*.ppt*
*.ppt.bak
*.pptx.bak

*.drawio.bak
*.drawio~
*.drawio.dtmp

# 系统文件
.DS_Store
MACDOX_*
Thumbs.db
desktop.ini
