/* based on: https://github.com/sindresorhus/github-markdown-css */

:root,
body {
  --md-fg: #1f2328;
  --md-bg: #ffffff;
  --md-muted: #59636e;
  --md-border: #d1d9e0;
  --md-border-muted: #d1d9e0b3;
  --md-link: #0969da;
  --md-accent: #0969da;
  --md-mark-bg: #fff8c5;
  --md-kbd-bg: #f6f8fa;
  --md-table-alt-bg: #f6f8fa;
  --md-code-bg: #818b981f;
  --md-pre-bg: #f6f8fa;
  --md-danger: #d1242f;
  --md-alert-important: #8250df;
  --md-alert-warning: #9a6700;
  --md-alert-tip: #1a7f37;
  color-scheme: light;
}

body.vscode-dark {
  --md-fg: #f0f6fc;
  --md-bg: #212830;
  --md-muted: #9198a1;
  --md-border: #3d444d;
  --md-border-muted: #3d444db3;
  --md-link: #478be6;
  --md-accent: #478be6;
  --md-mark-bg: #ae7c1426;
  --md-kbd-bg: #262c36;
  --md-table-alt-bg: #262c36;
  --md-code-bg: #656c7633;
  --md-pre-bg: #262c36;
  --md-danger: #e5534b;
  --md-alert-important: #986ee2;
  --md-alert-warning: #c69026;
  --md-alert-tip: #57ab5a;
  color-scheme: dark;
}
/*light */
body {
  margin: 0 auto;
  max-width: 980px;
  padding: 32px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  color: var(--md-fg);
  background-color: var(--md-bg);
  font-family: "EB Garamond", "霞鹜文楷", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
}

body details,
body figcaption,
body figure {
  display: block;
}

body summary {
  display: list-item;
}

body [hidden] {
  display: none !important;
}

body a {
  background-color: rgba(0,0,0,0);
  color: var(--md-accent);
  text-decoration: none;
}

body abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

body b,
body strong {
  font-weight: 600;
}

body dfn {
  font-style: italic;
}

body h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid var(--md-border-muted);
}

body mark {
  background-color: var(--md-mark-bg);
  color: var(--md-fg);
}

body small {
  font-size: 90%;
}

body sub,
body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

body sub {
  bottom: -0.25em;
}

body sup {
  top: -0.5em;
}

body img {
  border-style: none;
  max-width: 50%;
  height: auto;
  box-sizing: content-box;
}

body code,
body kbd,
body pre,
body samp {
  font-family: "Fira Code", monospace;
  font-size: 11px;
}

body figure {
  margin: 1em 2.5rem;
}

body hr {
  box-sizing: content-box;
  overflow: hidden;
  background: rgba(0,0,0,0);
  border-bottom: 1px solid var(--md-border-muted);
  height: .25em;
  padding: 0;
  margin: 1.5rem 0;
  background-color: var(--md-border);
  border: 0;
}

body input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body [type=button],
body [type=reset],
body [type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

body [type=checkbox],
body [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

body [type=number]::-webkit-inner-spin-button,
body [type=number]::-webkit-outer-spin-button {
  height: auto;
}

body [type=search]::-webkit-search-cancel-button,
body [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

body ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

body ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

body a:hover {
  text-decoration: underline;
}

body ::placeholder {
  color: var(--md-muted);
  opacity: 1;
}

body hr::before {
  display: table;
  content: "";
}

body hr::after {
  display: table;
  clear: both;
  content: "";
}

body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

body td,
body th {
  padding: 0;
}

body details summary {
  cursor: pointer;
}

body a:focus,
body [role=button]:focus,
body input[type=radio]:focus,
body input[type=checkbox]:focus {
  outline: 2px solid var(--md-accent);
  outline-offset: -2px;
  box-shadow: none;
}

body a:focus:not(:focus-visible),
body [role=button]:focus:not(:focus-visible),
body input[type=radio]:focus:not(:focus-visible),
body input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px rgba(0,0,0,0);
}

body a:focus-visible,
body [role=button]:focus-visible,
body input[type=radio]:focus-visible,
body input[type=checkbox]:focus-visible {
  outline: 2px solid var(--md-accent);
  outline-offset: -2px;
  box-shadow: none;
}

body a:not([class]):focus,
body a:not([class]):focus-visible,
body input[type=radio]:focus,
body input[type=radio]:focus-visible,
body input[type=checkbox]:focus,
body input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

body kbd {
  display: inline-block;
  padding: 0.25rem;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: var(--md-fg);
  vertical-align: middle;
  background-color: var(--md-pre-bg);
  border: solid 1px var(--md-border);
  border-bottom-color: var(--md-border);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--md-border);
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

body h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--md-border-muted);
}

body h3 {
  font-weight: 600;
  font-size: 1.25em;
}

body h4 {
  font-weight: 600;
  font-size: 1em;
}

body h5 {
  font-weight: 600;
  font-size: .875em;
}

body h6 {
  font-weight: 600;
  font-size: .85em;
  color: var(--md-muted);
}

body p {
  margin-top: 0;
  margin-bottom: 10px;
}

body blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--md-muted);
  border-left: .25em solid var(--md-border);
}

body ul,
body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

body ol ol,
body ul ol {
  list-style-type: lower-roman;
}

body ul ul ol,
body ul ol ol,
body ol ul ol,
body ol ol ol {
  list-style-type: lower-alpha;
}

body dd {
  margin-left: 0;
}

body tt,
body code,
body samp {
  font-family: "Fira Code", monospace;
  font-size: 11px;
}

body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Fira Code", monospace;
  font-size: 11px;
  word-wrap: normal;
}

body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

body>*:first-child {
  margin-top: 0 !important;
}

body>*:last-child {
  margin-bottom: 0 !important;
}

body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

body p,
body blockquote,
body ul,
body ol,
body dl,
body table,
body pre,
body details {
  margin-top: 0;
  margin-bottom: 1rem;
}

body blockquote>:first-child {
  margin-top: 0;
}

body blockquote>:last-child {
  margin-bottom: 0;
}

body h1 tt,
body h1 code,
body h2 tt,
body h2 code,
body h3 tt,
body h3 code,
body h4 tt,
body h4 code,
body h5 tt,
body h5 code,
body h6 tt,
body h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

body summary h1,
body summary h2,
body summary h3,
body summary h4,
body summary h5,
body summary h6 {
  display: inline-block;
}

body summary h1,
body summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

body ul ul,
body ul ol,
body ol ol,
body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

body li>p {
  margin-top: 1rem;
}

body li+li {
  margin-top: .25em;
}

body dl {
  padding: 0;
}

body dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

body dl dd {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

body table th {
  font-weight: 600;
}

body table th,
body table td {
  padding: 6px 13px;
  border: 1px solid var(--md-border);
}

body table td>:last-child {
  margin-bottom: 0;
}

body table tr {
  background-color: var(--md-bg);
  border-top: 1px solid var(--md-border-muted);
}

body table tr:nth-child(2n) {
  background-color: var(--md-pre-bg);
}

body table img {
  background-color: rgba(0,0,0,0);
}

body img[align=right] {
  padding-left: 20px;
}

body img[align=left] {
  padding-right: 20px;
}

body code,
body tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 13px;
  white-space: break-spaces;
  background-color: var(--md-code-bg);
  border-radius: 6px;
}

body code br,
body tt br {
  display: none;
}

body del code {
  text-decoration: inherit;
}

body samp {
  font-size: 13px;
}

body pre code {
  font-size: 13px;
}

body pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: rgba(0,0,0,0);
  border: 0;
}

body .highlight {
  margin-bottom: 1rem;
}

body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

body .highlight pre,
body pre {
  padding: 1rem;
  overflow: auto;
  font-size: 13px;
  font-family: "Fira Code", monospace;
  line-height: 1.45;
  color: var(--md-fg);
  background-color: var(--md-pre-bg);
  border-radius: 6px;
}

body pre code,
body pre tt,
body pre *,
body code * {
  display: inline;
  padding: 0;
  margin: 0;
  overflow: visible;
  font-family: "Fira Code", monospace;
  font-size: 11px;
  line-height: inherit;
  word-wrap: normal;
  background-color: rgba(0,0,0,0);
  border: 0;
}

body [data-footnote-ref]::before {
  content: "[";
}

body [data-footnote-ref]::after {
  content: "]";
}

body .footnotes {
  font-size: 12px;
  color: var(--md-muted);
  border-top: 1px solid var(--md-border);
}

body .footnotes ol {
  padding-left: 1rem;
}

body .footnotes ol ul {
  display: inline-block;
  padding-left: 1rem;
  margin-top: 1rem;
}

body .footnotes li {
  position: relative;
}

body .footnotes li:target::before {
  position: absolute;
  top: calc(0.5rem*-1);
  right: calc(0.5rem*-1);
  bottom: calc(0.5rem*-1);
  left: calc(1.5rem*-1);
  pointer-events: none;
  content: "";
  border: 2px solid var(--md-accent);
  border-radius: 6px;
}

body .footnotes li:target {
  color: var(--md-fg);
}

body [role=button]:focus:not(:focus-visible),
body [role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
body button:focus:not(:focus-visible),
body summary:focus:not(:focus-visible),
body a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

body [tabindex="0"]:focus:not(:focus-visible) {
  outline: none;
}

body .task-list-item {
  list-style-type: none;
}

body .task-list-item label {
  font-weight: 400;
}

body .task-list-item.enabled label {
  cursor: pointer;
}

body .task-list-item+.task-list-item {
  margin-top: 0.25rem;
}

body .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

body ul:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

body ol:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

body ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

body .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: .25em solid var(--md-border);
}

body .markdown-alert>:first-child {
  margin-top: 0;
}

body .markdown-alert>:last-child {
  margin-bottom: 0;
}

body .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

body .markdown-alert.markdown-alert-note {
  border-left-color: var(--md-accent);
}

body .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--md-accent);
}

body .markdown-alert.markdown-alert-important {
  border-left-color: var(--md-alert-important);
}

body .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--md-alert-important);
}

body .markdown-alert.markdown-alert-warning {
  border-left-color: var(--md-alert-warning);
}

body .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--md-alert-warning);
}

body .markdown-alert.markdown-alert-tip {
  border-left-color: var(--md-alert-tip);
}

body .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--md-alert-tip);
}

body .markdown-alert.markdown-alert-caution {
  border-left-color: var(--md-danger);
}

body .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--md-danger);
}

body .katex,
body .katex-display,
body .katex-display > .katex,
body .katex-html,
body .katex .base,
body mjx-container,
body mjx-container[display="true"],
body mjx-container svg {
  font-size: 15px;
}
